html {
	background: rgb(219,215,219);
}

body {
	padding-top: 62px;
	background-image: linear-gradient(bottom, rgb(219,215,219) 0%, rgb(252,252,252) 50%);
	background-image: -o-linear-gradient(bottom, rgb(219,215,219) 0%, rgb(252,252,252) 50%);
	background-image: -moz-linear-gradient(bottom, rgb(219,215,219) 0%, rgb(252,252,252) 50%);
	background-image: -webkit-linear-gradient(bottom, rgb(219,215,219) 0%, rgb(252,252,252) 50%);
	background-image: -ms-linear-gradient(bottom, rgb(219,215,219) 0%, rgb(252,252,252) 50%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(219,215,219)),
		color-stop(0.5, rgb(252,252,252))
	);	
}

#photo {
	transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-webkit-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
}

#photo:hover {
	-webkit-transform: rotate(370deg);
	transform: rotate(370deg);	
}